:root {
  --white: #ffffff;
  --gray-50: #f7f7f7;
  --gray-500: #67676f;
  --gray-400: #898993;
  --gray-700: #373745;
  --primary: #4096ff;
  --primary-410: #eeeff5;
  --white-opacty: rgba(255, 255, 255, 0.65);
}
